:host {
  display: block;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

/* Effetto underline al passaggio del mouse sui link desktop */
nav a {
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #f49d25;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}