<section class="newsletter-section">
  <div class="newsletter-container">
    <h2 class="newsletter-title">{{ translations().newsletterSignup.title }}</h2>
    <p class="newsletter-subtitle">{{ translations().newsletterSignup.subtitle }}</p>
    

    @if (!submitted) {
    <div class="newsletter-form">
      <form (ngSubmit)="onSubmit()" class="form-group">
        <input type="email" [(ngModel)]="email" name="email" placeholder="{{translations().newsletterSignup.emailPlaceholder}}" class="email-input"
          required />
        <button type="submit" class="subscribe-btn" [disabled]="loading || !email">
          {{ loading ? 'Subscribing...' : translations().newsletterSignup.submitButton }}
        </button>
      </form>
    </div>
    }

    @if (submitted) {
    <div class="success-message">
      <span class="material-icons">check_circle</span>
      <p>{{ translations().newsletterSignup.successMessage }}</p>
    </div>
    }
  </div>
</section>