@if (!clickable) {
<a [routerLink]="['/client/product', product.id]" class="product-card">
  <div class="card-image-wrapper">
    <img [src]="product.image" [alt]="product.name" class="product-img">

    <div class="card-badges">
      @if (product.isNew) {
      <span class="badge badge-new">New</span>
      }
      @if (product.isFeatured) {
      <span class="badge badge-featured">Featured</span>
      }
      @if (product.stock === 0) {
      <span class="badge badge-out">Out of Stock</span>
      }
    </div>

    <button class="btn-add-cart" (click)="buyNow()">
      <span class="material-symbols-outlined">shopping_cart</span>
    </button>
  </div>

  <div class="card-info">
    <div class="text-content">
      <span class="product-brand">{{ product.brand }}</span>
      <h3 class="product-name">{{ product.name }}</h3>
    </div>

    <div class="card-footer">
      <span class="product-price">${{ product.price }}</span>
    </div>
  </div>
</a>
} @else {
<a href="#" class="product-card" (click)="onCardClick($event)">
  <div class="card-image-wrapper">
    <img [src]="product.image" [alt]="product.name" class="product-img">

    <div class="card-badges">
      @if (product.isNew) {
      <span class="badge badge-new">New</span>
      }
      @if (product.isFeatured) {
      <span class="badge badge-featured">Featured</span>
      }
      @if (product.stock === 0) {
      <span class="badge badge-out">Out of Stock</span>
      }
    </div>

    <button class="btn-add-cart" (click)="buyNow()">
      <span class="material-symbols-outlined">shopping_cart</span>
    </button>
  </div>

  <div class="card-info">
    <div class="text-content">
      <span class="product-brand">{{ product.brand }}</span>
      <h3 class="product-name">{{ product.name }}</h3>
    </div>

    <div class="card-footer">
      <span class="product-price">${{ product.price }}</span>
    </div>
  </div>
</a>
}