<aside class="sidebar">
  <div class="sidebar-header">
    <div class="logo-container">
      <span class="material-icons logo">graphic_eq</span>
    </div>
    <h2 class="brand-name">Audio Store</h2>
    <p class="brand-subtitle">{{ translations().admin.headerTitle}}</p>
  </div>

  <nav class="sidebar-nav">
    <a
      *ngFor="let item of navigation()"
      [routerLink]="item.path"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-item">
      <span class="material-icons nav-icon">{{ item.icon }}</span>
      <span class="nav-label">{{ item.label }}</span>
    </a>
  </nav>

  <div class="sidebar-footer">   
    <button class="logout-btn" (click)="onLogout()">
      <span class="material-icons">logout</span>
      <span>{{ translations().admin.signOut }} </span>
    </button>
  </div>
</aside>
