<header class="main-header">
  <div class="header-content">
    <div class="page-info">
      <h1 class="page-title">{{ pageTitle }}</h1>
      <p class="page-subtitle">{{pageSubtitle}}</p>
    </div>
    
    <div class="header-actions">   

      <div class="user-info">        
        <div class="user-details">
          <p class="user-name">{{ adminName }}</p>
          <p class="user-email">{{ adminEmail }}</p>
        </div>
          <div class="user-avatar" (click)="NavigateToProfile()">
            <span class="material-icons">account_circle</span>
          </div>
        
      </div>

      <button class="action-btn language-btn" (click)="toggleLanguage()"
        [title]="currentLanguage() === 'it' ? 'Switch to English' : 'Passa all\'Italiano'">
        {{ getLanguageCode() }}
      </button>

    </div>
  </div>
</header>
